<%= stylesheet_link_tag 'index', :media => "all" %>


<div class="title-container">
<!-- <div class=title-image>
  <%= image_tag "index_image_2.png", class: "title2" %><br>
  <%= image_tag "index_image_3.png", class: "title3" %><br>
  <%= image_tag "index_image_4.png", class: "title4" %>
  </div> -->
</div>

<div class="button-container">
    <% if user_signed_in? %>
    <div class="button"><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></div>
    <div class="button"><%= button_to "マイページへ", user_path(current_user.id), method: :get %></div>
    <% else %>
    <div class="button"><%= button_to "新規登録", new_user_registration_path, method: :get %></div>
    <div class="button"><%= button_to "ログイン", new_user_session_path, method: :get %></div>
    <% end %>
</div>

