<!DOCTYPE html>
<html>
  <head>

    <title>ESmanager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Klee+One:wght@400;600&display=swap" rel="stylesheet">

  </head>

  <body>

    <header>
    <div class="headertitle">
    <%= link_to "ESmanager", works_path, class:"headertitletext"%>
    </div>
    <div class="button-container_2">
      <% if user_signed_in? %>
      <div class="button"><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></div>
      <div class="button"><%= button_to "マイページへ", user_path(current_user.id), method: :get %></div>
      <% else %>
      <div class="button"><%= button_to "新規登録", new_user_registration_path, method: :get %></div>
      <div class="button"><%= button_to "ログイン", new_user_session_path, method: :get %></div>
      <% end %>
    </div>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer>
    <p>Copyright Saki Kadoma All Rights Reserved.</p>
    </footer>

</body>

</html>
